{% extends "emp_app/base.html" %} {% block title %} Our Services | employee
Management System {% endblock title %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center text-success">Our Services</h1>
  <div class="card shadow p-4 mt-3">
    <p>
      The <strong>employee Management System</strong> offers a variety of
      services to help educational institutions manage employee data
      efficiently.
    </p>

    <h3>Our Services Include:</h3>
    <ul>
      <li>
        <strong>Employee Registration:</strong> Easily register new employee
        with their personal details.
      </li>
      <li>
        <strong>Employee Record Management:</strong> Update, edit, and maintain
        student information.
      </li>
      <li>
        <strong>Search & Filter:</strong> Find employee quickly using advanced
        filtering options.
      </li>
      <li>
        <strong>Secure Data Handling:</strong> Maintain data integrity with our
        secure system.
      </li>
    </ul>

    <p>
      Our goal is to provide a seamless and user-friendly system that enhances
      employee information management.
    </p>
  </div>
</div>
{% endblock content %}
